
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main-container">
      <div class="col-md-3 bg-primary">
        <ul>
          <li><a>cdklamkcda</a></li>
          <li><a>cdklamkcda</a></li>
          <li><a>cdklamkcda</a></li>
         
        </ul>
        <h1>Welcome to my website!</h1>
        <p>Here you'll find everything you need to know about me and my work.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
      <div class="col-md-5 bg-primary">
        <h1>Welcome to my website!</h1>
        <p>Here you'll find everything you need to know about me and my work.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
      <div class="col-md-3 bg-primary">
        <h1>Welcome to my website!</h1>
        <p>Here you'll find everything you need to know about me and my work.</p>
        <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>

<!-- <main>
    <ul>
      <li *ngFor="let album of albums">
        {{ album.title }}
      </li>
    </ul>
  </main>
   -->