.main-container{
    display: flex;
    justify-content:space-evenly;
    background-color: #E5E5E5;
    padding: 20px;

}
.card{
    border-radius: 20px;
    border-style: none;
}
.card-title{
    margin: 20px ;
    font-weight: bold;
}
.card-body{
    margin-left: auto;
    margin-right: auto;
}

.card li {
    margin: 15px 0;
    list-style: none;

}
.card li a{
   margin-left: 20px;
   list-style: none;
   text-decoration: none;
   color:#9798B4;

}

.card-comment{
    margin-top: 15px;
    line-height: 0%;
    text-align: center;
    color:#34343F;
}
.card-comment p{
    color: #46466599;
}




