.main-container{
    display: flex;
    justify-content:space-evenly;
    background-color: #E5E5E5;
    padding: 20px 0;

}
.card{
    border-radius: 20px;
    border-style: none;
}
.card-title{
    margin: 20px ;
    font-weight: bold;
}
.card-body{
    margin-left: auto;
    margin-right: auto;
}

.card li {
    margin: 15px 0;
    list-style: none;

}
.card li a{
   margin-left: 20px;
   list-style: none;
   text-decoration: none;
   color:#9798B4;
   cursor: pointer;

}

.profile span{
    margin-left: 30px;
}
.card-comment{

}
.card-comment p{
    /* color: #46466599; */
}



  
